h1 {
    margin: 0 0 1em 0;
}

.container {
    margin-top: 1em;
}

#current-user {
    color: #ffffff;
}

.card {
    margin: 2em 0 2em 0;
}

.card-actions {
    text-align: right;
}

form button {
    margin: 0 0 0 1em;
}

.sticky-footer {
    position: fixed;
    bottom: 0%;
    width: 90%;
}

.alert {
    display: none;
}

.spinner-border {
    margin-top: 1em;
    visibility: hidden;
}